container_commands:
  01_cleanup_cache:
    command: |
      echo "Cleaning up old node_modules and zip files..."
      rm -rf /var/app/current/node_modules
      rm -f /var/app/current/*.zip
    leader_only: true
  01_npm_install:
    command: | 
     echo "Install new dependencies..."
     "npm ci"
